.header {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}

.header-home {
    position: absolute;
    width: 68px;
    height: 27px;
    left: 0px;
    top: -6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: red;
}

.header-photoapp {
    position: absolute;
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: red;   
}

.header-design{
    position: absolute;
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: red;
}

.header-download {
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: red;
}

.image {
    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
}

.content {
    position: absolute;
    width: 1280px;
    height: 650px;
    left: 0px;
    top: 0px;
}

.content-title {
    position: absolute;
    width: 774px;
    height: 29px;
    left: 253px;
    top: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.content-paragraf {
    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;

}

.content-text {
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {
    position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer {
    position: absolute;
    width: 462px;
    height: 39px;
    left: 608px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}